h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 50px;
}

.red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
  color: white;
}
button {
  text-align: center;
  font-size: 30px;
  margin: 5px;
  padding: 10px;
}
